version: "3"

networks:
  {{ woodpecker_agent_docker_network_name }}:
    external: true

services:
  {{ woodpecker_agent_docker_service_name }}:
    image: "{{ woodpecker_agent_docker_container_image }}"
    container_name: "{{ woodpecker_agent_docker_container_name }}"
    restart: always
    networks:
      {{ woodpecker_agent_docker_network_name }}:
        ipv4_address: {{ woodpecker_agent_docker_network_ipv4_address }}
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    environment:
      {{ lookup('template', 'woodpecker-env.j2') | indent(width=6) }}
