DOCKER_HOST: {{ woodpecker_agent_docker_host }}

WOODPECKER_SERVER: {{ woodpecker_target_server }}
WOODPECKER_USERNAME: {{ woodpecker_agent_woodpecker_username }}
WOODPECKER_HOSTNAME: {{ woodpecker_agent_woodpecker_hostname }}

WOODPECKER_AGENT_SECRET: {{ woodpecker_server_agent_secret }}

WOODPECKER_LOG_LEVEL: {{ woodpecker_agent_log_level }}
WOODPECKER_DEBUG_PRETTY: {{ woodpecker_agent_debug_pretty | lower }}
WOODPECKER_DEBUG_NOCOLOR: {{ woodpecker_agent_debug_nocolor | lower }}

WOODPECKER_MAX_PROCS: {{ woodpecker_agent_max_procs }}

WOODPECKER_HEALTHCHECK: {{ woodpecker_agent_healthcheck | lower }}
WOODPECKER_KEEPALIVE_TIME: {{ woodpecker_agent_keepalive_time }}
WOODPECKER_KEEPALIVE_TIMEOUT: {{ woodpecker_agent_keepalive_timeout }}

WOODPECKER_GRPC_SECURE: {{ woodpecker_agent_grpc_secure | lower }}
WOODPECKER_GRPC_VERIFY: {{ woodpecker_agent_grpc_verify | lower }}

WOODPECKER_BACKEND: {{ woodpecker_agent_backend }}